{
    "app/**/*.{ts,tsx}": [
        "eslint --fix --max-warnings=0 --cache --cache-location ./node_modules/.cache/eslint .",
        "prettier --write"
    ],
    "{.storybook,.playwright}/**/*.{ts,tsx}": [
        "prettier --write"
    ],
    "app/**/*.css": [
        "stylelint --fix",
        "prettier --write"
    ],
    "app/**/*.json": [
        "prettier --write"
    ]
}
